<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crow.an" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar">
        <activity
            android:name=".note.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

      <!--  <receiver android:name=".Days.ScreenReceiver"/>

        <service
            android:name=".Timer.CountService">

        </service>
        <service
            android:name=".Timer.AlarmService">

        </service>-->



        <activity android:name=".note.WriteActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:name=".note.BaseActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:name=".note.EditActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
    </application>

</manifest>
